# SPDX-FileCopyrightText: 2025 Nicolas Fella <nicolas.fella@gmx.de>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=KOnlineAccounts Demo
Name[ca]=Demostració del KOnlineAccounts
Name[es]=Demostración de KOnlineAccounts
Name[he]=הדגמה של KOnlineAccounts
Name[nl]=Demo van KOnlineAccounts
Name[pt_BR]=Demonstração do KOnlineAccounts
Name[tr]=K Çevrim İçi Hesaplar Tanıtımı
Name[uk]=Демонстрація KOnlineAccounts
Exec=demo
Icon=kirigami-gallery
Type=Application
Categories=Network;InstantMessaging;X-SocialMedia
X-KDE-OnlineAccounts-Types=mastodon;nextcloud;caldav;carddav;google
