# SPDX-FileCopyrightText: 2025 Nicolas Fella <nicolas.fella@gmx.de>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Name=KOnlineAccounts Demo
Name[ar]=عرض توضيحي لـ KOnlineAccounts
Name[ca]=Demostració del KOnlineAccounts
Name[ca@valencia]=Demostració de KOnlineAccounts
Name[es]=Demostración de KOnlineAccounts
Name[eu]=KOnlineAccounts erakustaldia
Name[fr]=Démonstration de KOnlineAccounts
Name[he]=הדגמה של KOnlineAccounts
Name[it]=Demo KOnlineAccounts
Name[ka]=KOnlineAccounts-ის დემონსტრაცია
Name[nl]=Demo van KOnlineAccounts
Name[nn]=KOnlineAccounts-demo
Name[pt_BR]=Demonstração do KOnlineAccounts
Name[sl]=KOnlineAccounts Demo
Name[tr]=K Çevrim İçi Hesaplar Tanıtımı
Name[uk]=Демонстрація KOnlineAccounts
Name[zh_CN]=KOnlineAccounts 示例
Name[zh_TW]=KOnlineAccounts 範例
Exec=demo
Icon=kirigami-gallery
Type=Application
Categories=Network;InstantMessaging;X-SocialMedia
X-KDE-OnlineAccounts-Types=mastodon;nextcloud;caldav;carddav;google
